.container {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    width: 100%;
    height: 60px;
    /* //background: -webkit-linear-gradient(70deg, #468ea2, #043b35); */
    background-color:rgba(6,182,159,255);
    
  }

  .h1{
    position:fixed;
    color: rgb(0, 0, 0);
    font-size: 25px;
    left: 10px;
  }